@import '~bootstrap/scss/bootstrap';

.card{
    height: 250px;
    padding: 15px;
}

a{
    color: black;
    text-decoration: none;
}

.edit{
    background-color: #6a6a6a;
    width: 50px;
    color: white;
    padding: 5px;
    text-align: center;
    margin-right: 20px;
    border-radius: 5px;
}

.delete{
    background-color: #ef3b2d;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.event{
    background-color: #ef3b2d;
    color: white;
    padding: 5px;
    border-radius: 5px;
}